# Exclude version control and metadata
.git
.gitignore

# Build outputs
build/
dist/
*.egg-info/
*.pyc
*.pyo
*.pyd
__pycache__/
*.whl

# Tests and development files
tests/
requirements-tests.txt
Makefile
README.md
.github/

# Logs and environment files
*.log
.env
